<!DOCTYPE html>
<html>
<head>
<title>time</title>
    <link rel="stylesheet" href="tiempo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="simpleweather/jquery.simpleWeather.js"></script>
</head>

<body>
    <div id="weather"></div>
</body>
<script>
    $(document).ready(function() {
  $.simpleWeather({
    location: 'Cochabamba, BO',
    woeid: '',
    unit: 'c',
    success: function(weather) {
        console.log(weather);
      html = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</h2>';
      html += '<ul><li>'+weather.city+', '+weather.region+'</li>';
      html += '<li class="currently">'+weather.currently+'</li>';
      html += '<li>'+weather.wind.direction+' '+weather.wind.speed+' '+weather.units.speed+'</li></ul>';
  
      $("#weather").html(html);
    },
    error: function(error) {
      $("#weather").html('<p>'+error+'</p>');
    }
  });
});
</script>
</html>
